body {
  margin: 0px;
}

div#hero {
    text-align: center;
}

div#hero p:first-child{
  font-family: 'sans-serif';
  font-size: 64px;
  color: #5d5d5d;
}

div#hero img {
  height: 230px;
  border: 10px solid white;
  box-shadow: 0px 0px 20px #7373ea;
}

div#hero p:last-child{
  font-family: 'sans-serif';
  font-size: 40px;
  color: #5d5d5d;
}

.content {
  width: 960px;
  margin: 0px auto;
  padding: 40px 0px;
}

.content p {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 30px;
}

div#about, div#contact {
  background: #4932b3;
  color: white;
}

.split{
  display: flex;
  justify-content: 'space-around';
}

div#contact ul li a{
  color: white;
}

div#contact .split > * {
  width: 50%;
}

#contact_form > * {
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  border: none;
  margin-bottom: 12px;
}

#contact_form input[type='submit']:hover {
  background: green;
}

a#scrollanchor {
  position: fixed;
  top: 90%;
  left: 80%;
  background: #0c0d44;
  padding: 10px;
  border-radius: 2px;
  color: white;
  z-index: 1;
  text-decoration: none;
  display: none;
}
